In [ ]:
import sys
sys.path.append('./../../')

In [1]:
import ikamoana.fisherieseffort.fisherieseffort as fe
import numpy as np
import pandas as pd

In [2]:
## Non unique value in the fisheries_effort file will lead to error in DataSet transformation

filepath = "./../../data/fisheries_effort/fisheries_data_2021_Nov8.txt"

In [3]:
fisheries_df = fe.readFile(filepath, header_position=0, columns_name=None)
fisheries_dict = fe.separateFisheries(fisheries_df)

In [4]:
for k, i in fisheries_dict.items():
    print("Fishery ", k," has resolutions : \t",i['res'].unique())

Fishery  1  has resolutions : 	 [1]
Fishery  2  has resolutions : 	 [1]
Fishery  3  has resolutions : 	 [1]
Fishery  4  has resolutions : 	 [1]
Fishery  5  has resolutions : 	 [1]
Fishery  6  has resolutions : 	 [1]
Fishery  7  has resolutions : 	 [1]
Fishery  8  has resolutions : 	 [5]
Fishery  9  has resolutions : 	 [1]
Fishery  10  has resolutions : 	 [1]
Fishery  12  has resolutions : 	 [1]
Fishery  13  has resolutions : 	 [1]
Fishery  15  has resolutions : 	 [5]

In [9]:
# Rescale 8th fishery is much longer than 15th

tmp = fe.rescaleFisheries({1:fisheries_dict[1],15:fisheries_dict[15]})

In [10]:
fisheries_dict[15]

          f    yr  mm  dd gr   lat    lon  res    E     C
1174737  15  1974   1  15  P   0.5  213.5    5  1.0   4.0
1174738  15  1974   1  15  P  -0.5  213.5    5  1.0   5.0
1174739  15  1974   3  15  P  -5.5  212.5    5  2.0   7.0
1174740  15  1974   4  15  P   8.5  212.5    5  2.0  15.0
1174741  15  1974   4  15  P  -5.5  212.5    5  1.0   9.0
...      ..   ...  ..  .. ..   ...    ...  ...  ...   ...
1181772  15  2014   8  15  P  11.5  214.5    5  3.0  30.0
1181773  15  2014   8  15  P  10.5  229.5    5  3.0   9.0
1181774  15  2014   8  15  P   9.5  233.5    5  3.0   0.0
1181775  15  2014   8  15  P   2.5  239.5    5  3.0  39.0
1181776  15  2014   8  15  P   1.5  241.5    5  3.0  36.0

[7040 rows x 10 columns]

In [11]:
tmp

{1:         f    yr  mm  dd gr   lat    lon  res    E      C
 0       1  1950   1  15  P  46.5  150.5    1  1.0  0.047
 1       1  1950   1  15  P  34.5  136.5    1  0.0  0.000
 2       1  1950   1  15  P  34.5  138.5    1  0.0  0.000
 3       1  1950   1  15  P  34.5  139.5    1  9.0  0.000
 4       1  1950   1  15  P  33.5  133.5    1  0.0  0.000
 ...    ..   ...  ..  .. ..   ...    ...  ...  ...    ...
 192946  1  2020  12  15  P  25.5  130.5    1  0.0  2.118
 192947  1  2020  12  15  P  25.5  131.5    1  0.0  2.118
 192948  1  2020  12  15  P  25.5  132.5    1  0.0  2.118
 192949  1  2020  12  15  P  25.5  133.5    1  0.0  2.118
 192950  1  2020  12  15  P  25.5  134.5    1  0.0  2.118

 [192951 rows x 10 columns],
 15:          f    yr  mm  dd gr  lat    lon  res     E     C
 0       15  1974   1  15  P  2.5  211.5    1  0.04  0.16
 1       15  1974   1  15  P  2.5  212.5    1  0.04  0.16
 2       15  1974   1  15  P  2.5  213.5    1  0.04  0.16
 3       15  1974   1  15  P  2.5  214.5    1  0.04  0.16
 4       15  1974   1  15  P  2.5  215.5    1  0.04  0.16
 ...     ..   ...  ..  .. ..  ...    ...  ...   ...   ...
 175995  15  2014   8  15  P -0.5  239.5    1  0.12  1.44
 175996  15  2014   8  15  P -0.5  240.5    1  0.12  1.44
 175997  15  2014   8  15  P -0.5  241.5    1  0.12  1.44
 175998  15  2014   8  15  P -0.5  242.5    1  0.12  1.44
 175999  15  2014   8  15  P -0.5  243.5    1  0.12  1.44

 [176000 rows x 10 columns]}

In [12]:
print("Catch error : ", fisheries_dict[15]['C'].sum() - tmp[15]['C'].sum())
print("Effort error : ", fisheries_dict[15]['E'].sum() - tmp[15]['E'].sum())

Catch error :  7.275957614183426e-12
Effort error :  -7.275957614183426e-12