In [1]:
import ikamoana.fisheries_effort.fisheries_effort as fe
import numpy as np
import pandas as pd

In [2]:
## Non unique value in the fisheries_effort file will lead to error in DataSet transformation

filepath = "./data/fisheries_effort/fisheries_data_2021_Nov8.txt"

In [3]:
fisheries_df = fe.readFile(filepath, header_position=0, columns_name=None)
fisheries_dict = fe.separateFisheries(fisheries_df)
rescaled_fisheries_dict = fe.rescaleFisheries({1:fisheries_dict[1],15:fisheries_dict[15]})

In [31]:
df = rescaled_fisheries_dict[15]
cond = df.duplicated(keep=False)
df[cond]

         f    yr  mm  dd gr   lat    lon  res     E     C
345     15  1976   8  15  P  22.5  229.5    1  0.04  0.00
346     15  1976   8  15  P  22.5  230.5    1  0.04  0.00
347     15  1976   8  15  P  22.5  231.5    1  0.04  0.00
352     15  1976   8  15  P  22.5  229.5    1  0.04  0.00
353     15  1976   8  15  P  22.5  230.5    1  0.04  0.00
...     ..   ...  ..  .. ..   ...    ...  ...   ...   ...
175833  15  2014   7  15  P   1.5  220.5    1  0.12  0.36
175835  15  2014   7  15  P   0.5  217.5    1  0.12  0.36
175836  15  2014   7  15  P   0.5  218.5    1  0.12  0.36
175837  15  2014   7  15  P   0.5  219.5    1  0.12  0.36
175838  15  2014   7  15  P   0.5  220.5    1  0.12  0.36

[64056 rows x 10 columns]

In [34]:
np.sort(df[cond]['lat'].unique())

array([-15.5, -14.5, -13.5, -12.5, -11.5, -10.5,  -9.5,  -8.5,  -7.5,
        -6.5,  -5.5,  -0.5,   0.5,   1.5,   2.5,   3.5,   4.5,   5.5,
         6.5,   7.5,   8.5,   9.5,  10.5,  11.5,  12.5,  13.5,  14.5,
        15.5,  16.5,  17.5,  18.5,  19.5,  20.5,  21.5,  22.5,  23.5,
        24.5,  25.5,  26.5,  27.5,  28.5,  29.5,  30.5,  31.5,  32.5,
        33.5,  34.5])

In [35]:
np.sort(df[cond]['lon'].unique())

array([210.5, 211.5, 212.5, 213.5, 214.5, 215.5, 216.5, 217.5, 218.5,
       219.5, 220.5, 221.5, 222.5, 223.5, 224.5, 225.5, 226.5, 227.5,
       228.5, 229.5, 230.5, 231.5, 232.5, 233.5, 234.5, 235.5, 236.5,
       237.5, 238.5, 239.5, 240.5, 241.5, 242.5, 243.5, 244.5, 245.5,
       246.5, 247.5, 248.5, 249.5, 250.5, 251.5, 252.5, 253.5, 254.5,
       255.5, 256.5, 257.5, 258.5, 259.5, 260.5, 261.5, 262.5, 263.5,
       264.5, 265.5, 266.5, 267.5])

In [4]:
fe.fisheriesToDataSet(rescaled_fisheries_dict)

<xarray.Dataset>
Dimensions:  (time: 852, lat: 26, lon: 105)
Coordinates:
  * time     (time) datetime64[ns] 1950-01-15 1950-02-15 ... 2020-12-15
  * lat      (lat) float64 21.5 22.5 23.5 24.5 25.5 ... 42.5 43.5 44.5 45.5 46.5
  * lon      (lon) float64 116.5 117.5 118.5 119.5 ... 222.5 223.5 227.5 229.5
Data variables:
    E        (time, lat, lon) float64 nan nan nan nan nan ... nan nan nan nan
<xarray.Dataset>
Dimensions:  (time: 852, lat: 26, lon: 105)
Coordinates:
  * time     (time) datetime64[ns] 1950-01-15 1950-02-15 ... 2020-12-15
  * lat      (lat) float64 21.5 22.5 23.5 24.5 25.5 ... 42.5 43.5 44.5 45.5 46.5
  * lon      (lon) float64 116.5 117.5 118.5 119.5 ... 222.5 223.5 227.5 229.5
Data variables:
    C        (time, lat, lon) float64 nan nan nan nan nan ... nan nan nan nan

ValueError: cannot convert a DataFrame with a non-unique MultiIndex into xarray